/*******************
*Estrutura do site*/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url('../Imagens/fundo.png') repeat-x top left;
}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url('../Imagens/detalhe-topo.png') no-repeat right;
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url('../Imagens/logo.png') no-repeat top left;
    text-indent: -3000px;
}

/*******************************
*Barra de navegação horizontal*/
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left;
}

#topo ul li{
    float: left;
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url('../Imagens/divisor.png') no-repeat left center;
}

#topo ul .first a{
    background: none;
}

#topo ul a:hover{
    color: #69001d;
} 

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
    color: #fff;
    background: #de003e;
    cursor: text;
}

/*********************
*Layout de 3 colunas*/
#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

#lateral{
    width: 180px;
    float: left;
    margin: 0 15px 20px -750px;
}

/*********************
*Layout de 2 colunas*/
#duas-colunas #primario {
	width: 555px;
}

/********************
*Layout de 1 coluna*/
#uma-coluna #primario {
	width: 750px;
	margin: 0 0 20px 0;
}

/*******
*Caixa*/
.caixa{
    background: #f3f3f3 url('../Imagens/fundo-caixa.png');
    margin: 10px 0;
    padding: 5px;
}

.caixa-conteudo{
    margin-top: 5px;
    background: #fff;
    padding: 5px;
}

h2{
    font-size: 1.1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.leia-mais{
    text-decoration: none;
    color: #b10333;
}

/****************
*Menu Lateral*/
#lateral ul a{
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
    color: #ababab;
    background: #f9f9f9 url('../Imagens/marcador.png') no-repeat left;
    padding-left: 22px;
}

#lateral ul a#ultimo{
    border-bottom: none;
}

/*************
*Formulários*/
label{
    display: block;
    cursor: pointer;
}

input{
    width: 125px;
    padding: 5px;
    font-size: 0.9em;
    background: #fff;
    margin-top: 3px;
    border-radius: 3px;
}

input[type='submit']{
    width: 80px;
    color: #fff;
    background: #b10333;
    border: 2px solid #870529;
    padding: 5px;
}

/*********
*Imagens*/
img.imagem-principal{
    margin-top: 5px;
    border: 3px solid #dfdfdf;
    width: 98%;
}

/************
*Cabeçalhos*/
.destaque h3{
    padding: 5px;
    color: #fff;
    background: #b10333;
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.entrevista h3{
    padding: 5px;
    color: #000;
    background: #b10333;
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

/*******************
*Lista de notícias*/
#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#lista-noticias li#ultima-noticia{
    padding: 2px;
    border-bottom: none;
    height: 65px;
}
#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a h3{
    font-size: 0.9em;
    padding-top: 3px;
    color: #3e7ab9;
}

#lista-noticias li a p{
    font-size: 0.8em;
    color: #000;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}

/********
*rodapé*/ 
#container-rodape{
    clear: both;
    background: #294c71;
    padding: 20px;
}

#rodape{
    width: 750px;
    margin: 0 auto;
    color: #fff;
}